/* Media Queries Mixin
**********************/
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  line-height: 1.6875rem;
  margin: 0;
}

main {
  padding: 4rem 0 0;
}
@media only screen and (min-width: 992px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p,
ol,
ul,
dl {
  margin: 0;
  list-style: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
  border-bottom: 2px solid #ebebeb;
  background: white;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.header__logo {
  max-width: 15.6rem;
  margin-left: 0.7rem;
}
.header__logo img {
  width: 100%;
  vertical-align: middle;
}
.header__nav, .header__access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 992px) {
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: calc(100% - 4.1rem);
    padding: 20px 0;
    position: fixed;
    top: 4.1rem;
    margin: 0;
    left: 100%;
    background-color: #8841da;
    overflow-y: auto;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
}
.header__menu-visible {
  left: 0;
}
.header__menu-item {
  margin: 0 1rem;
}
@media only screen and (max-width: 992px) {
  .header__menu-item {
    margin: 0.7rem auto;
  }
}
.header__menu a {
  color: #3f579a;
  text-decoration: none;
}
.header__menu a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 992px) {
  .header__menu a {
    color: #ffffff;
  }
}
.header__access a {
  color: #8841da;
  font-size: 1.4rem;
  margin: 0 0.7rem;
}
.header__access a:active, .header__access a:hover {
  color: #3f579a;
}
.header__access-search {
  /* MOBILE */
}
.header__access-search .fa-magnifying-glass {
  margin-right: 0.4rem;
}
@media only screen and (max-width: 992px) {
  .header__access-search {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .header__access-menu {
    display: none;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #333333;
}
@media only screen and (min-width: 992px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer__logo {
  max-width: 15.6rem;
  margin-left: 0.7rem;
}
.footer__logo img {
  width: 100%;
  vertical-align: middle;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .footer__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.footer__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  padding: 0;
  color: #ffffff;
}
@media only screen and (min-width: 992px) {
  .footer__nav ul {
    margin: 0 1rem 0 0;
  }
}
.footer__menu {
  margin-top: 1rem;
  margin-right: 1rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.footer__menu-item, .footer__social-item {
  margin: 0 0.5rem;
}
.footer__menu-item a, .footer__social-item a {
  color: #ffffff;
  text-decoration: none;
}
.footer__menu-item a:hover, .footer__social-item a:hover {
  text-decoration: underline;
}