.article {
  display: inline-block;
  width: auto;
  padding: 3.125rem 3rem 0;
  @include media(lg) {
    width: 55%;
    padding-right: 4rem;
  }
  @include media(xl) {
    padding-right: 10rem;
  }
}
.article__item {
  margin-bottom: 2.5rem;
  border-bottom: 3px solid $secondary;
  &-category {
    font-weight: 500;
    font-size: 0.875rem;
    color: $secondary;
    @include title($font-2);
  }
  &-title {
    font-size: 1.25rem;
    color: $primary;
    @include title($font-2);
  }
  &-description {
    margin-bottom: 1.8rem;
    font-size: 1.125rem;
  }
  a {
    text-decoration: none;
  }
}
