/* ------------------- Font ------------------- */

/* Font weight */
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;

/* Font size */
$font-size-xxs: 0.563rem; /* 9px */
$font-size-xs: 0.625rem; /* 10px */
$font-size-sm: 0.75rem; /* 12px */
$font-size-md: 0.875rem; /* 14px */
$font-size-lg: 1rem; /* 16px */
$font-size-base: 1.125rem; /* 18px */
$font-size-2xl: 1.25rem; /* 20px */
$font-size-3xl: 1.563rem; /* 25px */
$font-size-4xl: 1.875rem; /* 30px */
$font-size-5xl: 2.5rem; /* 40px */
$font-size-6xl: 3.25rem; /* 52px */
$font-size-7xl: 3.75rem; /* 60px */
$font-size-8xl: 4.5rem; /* 72px */
$font-size-9xl: 5.313rem; /* 85px */

/* Headings */
$h1-font-size: 4.5rem; /* 72px */
$h2-font-size: 3.125rem; /* 50px */
$h3-font-size: 2.313rem; /* 37px */
$h4-font-size: 1.5rem; /* 24px */
$h5-font-size: 1.25rem; /* 20px */
$h6-font-size: 1.125rem; /* 18px */

$h1-font-size-mobile: 3.125rem; /* 50px */
$h2-font-size-mobile: 2.375rem; /* 38px */
$h3-font-size-mobile: 1.475rem; /* 30px */
$h4-font-size-mobile: 1.5rem; /* 24px */
$h5-font-size-mobile: 1.188rem; /* 19px */
$h6-font-size-mobile: 1.188rem; /* 19px */

/* Font family */
$font-1: 'Lato', sans-serif;
$font-2: 'Oswald', sans-serif;

/* ------------------- Colors ------------------- */

$primary: #333333;
$bg-primary: #262626;
$secondary: #8841da;
$bg-secondary: #673ab7;
$variation: #3f579a;
$white: #ffffff;
$light: #ede7f6;
$grey: #33333380;
$test: #AEBDCA;

/* ------------------- box-sizing ------------------- */

* {
  box-sizing: border-box;
}

/* ------------------- body ------------------- */

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  font-size: $font-size-base;
  line-height: 1.6875rem;
  font-weight: $font-weight-normal;
  margin: 0;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ------------------- Mixins ------------------- */

@mixin box {
  border-radius: .312rem;
  box-shadow: 0 20px 33px 0 rgba(0, 0, 0, 0.5);
  color: $primary;
  background-color: $white;
}

@mixin title($font) {
  @if $font==$font-2 {
    font-family: $font-2;
    text-transform: uppercase;
  } @else {
    font-family: $font-1;
  }
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@function get-opacity($color, $level) {
  @return rgba($color, $level);
}
