//Variables
$font-1: 'Lato', sans-serif;
$font-2: 'Oswald', sans-serif;
$color-primary: #333333;
$color-claro: #ffffff;
$color-secondary: #8841da;
$color-variation: #3f579a;

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
  line-height: 1.6875rem;
  margin: 0;
}

main {
  padding: 4rem 0 0;
  @include media(desktop-s) {
    display: flex;
  }
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p,
ol,
ul,
dl {
  margin: 0;
  list-style: none;
}

@mixin box {
  border-radius: 20px;
  box-shadow: 0 20px 33px 0 rgba(0, 0, 0, 0.5);
  color: $color-primary;
  background-color: $color-claro;
}

@mixin title($font) {
  @if $font==$font-2 {
    font-family: $font-2;
    text-transform: uppercase;
  } @else {
    font-family: $font-1;
  }
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
  line-height: calculateRem($size) * 1.5;
}

@function get-opacity($color, $level) {
  @return rgba($color, $level);
}
