.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  border-bottom: 2px solid #ebebeb;
  background: white;
  @include title($font-2);
  &__logo {
    max-width: 15.6rem;
    margin-left: 0.7rem;
    img {
      width: 100%;
      vertical-align: middle;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
    @include media(mobile) {
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: calc(100% - 4.1rem);
      padding: 20px 0;
      position: fixed;
      top: 4.1rem;
      margin: 0;
      left: 100%;
      background-color: $color-secondary;
      overflow-y: auto;
      transition: left 0.3s;
    }
    &-visible {
      left: 0;
    }
    &-item {
      margin: 0 1rem;
      @include media(mobile) {
        margin: 0.7rem auto;
      }
    }
    a {
      color: $color-variation;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      @include media(mobile) {
        color: $color-claro;
      }
    }
  }
  &__access {
    @extend .header__nav;
    a {
      color: $color-secondary;
      font-size: 1.4rem;
      margin: 0 0.7rem;
      &:active,
      &:hover {
        color: $color-variation;
      }
    }
    &-search {
      .fa-magnifying-glass {
        margin-right: 0.4rem;
      }
      /* MOBILE */
      @include media(mobile) {
        display: none;
      }
    }
    &-menu {
      @include media(desktop-s) {
        display: none;
      }
    }
  }
}
